{% extends 'main/layout.html' %}



{% block title %}
    Выученные слова без перевода
{% endblock %}


{% block content %}
    {% include 'main/write_Word_Form.html' %}
{% endblock %}


{% load static %}
{% block script %}

    <script>
        var url_get_new_words = '{% url "words_learned_get_json" %} ';
        var url_push_new_words = '{% url "Words_push_json_err_words" %} ';
        var csrftoken_new_words = '{{ csrf_token }}';
    </script>

    <script>
        document.getElementById('err_ok_prompt_new_learn_button').removeAttribute('onclick');
        document.getElementById('err_ok_prompt_new_learn_button').setAttribute('onclick', 'button_word_click_without_translate()');
        document.getElementById('input_word_learn_new').setAttribute('readonly', 'true');
        document.getElementById('input_word_learn_new').setAttribute('type', 'text');

        function button_word_click_without_translate() {
            document.getElementById('input_word_learn_new').value = engword[index];
            is_err_work = 1;
            button_word_click();
        }
    </script>

    <script src={% static 'main/JS/index.js' %}></script>
{% endblock %}


